@import "../../common/colors.scss";

.header {
  background-color: $secondary-color;
  height: 72px;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: $font-primary;
  font-size: larger;
  font-weight: 900;
}

.user-image {
  border-radius: 100%;
  width: 40px;
  width: 40px;
}
