@import "../src/common/colors.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $font-primary;
}

a {
  text-decoration: none;
  color: $font-secondary;
}

body {
  background-color: $primary-color;
}

.container {
  margin: 0 40px;
}
